<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <%- include('./partials/header.ejs') %>
</head>
<body>
    <div>
        <form action="/login" method="post">
            <h1>Login ya!</h1>
            <label for="">Username:</label><br>
            <input type="text" name="userName"><br><br>
            <label for="">Password:</label><br>
            <input type="text" name="password">
            <div class="info">
                <p style="color: red;">
                 <%= info ? info : '' %>
                </p>
             </div>
            <button type="submit">Signup</button>
        </form>
    </div>
    
</body>
</html>